@import '../../variables.styl'
.task-list
  .card-content
    padding-top 50px
    
  .task-list__item
    display block
    color #000
    text-decoration none
    margin 0 0 20px
    border-bottom 1px solid rgba(defaultColor, 0.3)
    cursor pointer
    opacity 0.8
    transition all ease-in-out 0.1s
    padding 10px

    &:hover
      box-shadow 0 4px 5px 0 rgba(mainColor, 0.14)
      opacity 1


    &-title
      display block
      font-size 24px
      padding 0 0 15px
      text-decoration none
      color rgba(#000, 0.7)

    &-description
      font-size 14px
      padding 0 0 15px
      
    &-info
      text-align right
      
      &__item
        padding-left 10px

.task-list__sort
  .sort-form
    select
      width 50%
      cursor pointer

    .radio
      display inline-block

    .radio
      &:nth-child(2)
        position relative
        left -10px

.task-list__pagination
  margin 20px 0

  &.hidden
    display none

  &__item
    display inline-block
    color #999
    border-radius 30px
    margin 0 3px
    height 30px
    min-width 30px
    line-height 30px
    font-weight 400
    font-size 12px
    text-transform uppercase
    background transparent
    text-align center
    transition all ease-in-out 0.3s
    cursor pointer
    

    &:hover
      background-color: #eee;
      border-color: #ddd;

    &.next
    &.prev
      padding 0 11px
      &.hidden
       display none

    &.active
      background-color mainColor
      border-color mainColor
      color #fff
      box-shadow: 0 4px 5px 0 rgba(mainColor, 0.14), 0 1px 10px 0 rgba(mainColor, 0.12), 0 2px 4px -1px rgba(mainColor, 0.2)
