@import '../variables'

.form-item
  padding 10px 0
  position relative
  
  .form-error
    visibility hidden
    font-size 11px
    color dangerColor
    position absolute
    top 0

  &.error
    .form-error
      visibility visible



.form-control
  border: 0;
  background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  font-weight: 400;
  outline none
  padding 5px 0
  
  &:focus
    outline: none;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s
    
  &.error
    outline: none;
    background-image: linear-gradient(dangerColor, dangerColor), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s

.form-buttons
  margin 10px 0
  text-align center
