.login-card
  &.card
    width 320px
    margin 100px auto
    display block
    border-radius 6px
    opacity 1
    transition all ease-in-out 0.3s

    .card-header
      position relative
      top -20px
      text-align center

    &.hidden
      margin 90px auto
      opacity 0
    

.form-item__icon
  padding: 0 15px
  display inline-block
  color: #555;
  vertical-align middle

.form-control
  width 220px

.form-item
  padding 15px 0 20px

  .form-error
    left 54px
