.login-card
.register-card
  &.card
    width 320px
    margin 100px auto
    display block
    border-radius 6px
    opacity 1
    transition all ease-in-out 0.3s

    .card-header
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      position relative
      top -20px
      text-align center
      margin -20px 15px 0
      border-radius 6px

    &.hidden
      margin 90px auto
      opacity 0
    

  .form-item__icon
    padding: 0 15px
    display inline-block
    color: #555;
    vertical-align middle

  .form-control
    width 220px

    .form-error
      left 54px

  .button
    border-radius 40px
  
  .form-buttons
    text-align center
    margin-top 20px


.profile-edit-card
  .form-control
    width 100%

