@import '../../variables'

.offer-list
  &-title
    margin 20px 0 10px

.offer-list__item
  margin 2px 0

  .message
    .message-sender
      font-size 20px
      color mainColor
      margin 10px 0 0

  .item-title
    font-size 24px
    padding 0 0 20px

  .item__actions
    padding-top 20px


