@import '../../variables'

.offer-list
  &-title
    margin 20px 0

.offer-list__content
  margin-top -20px

.offer-list__item
  margin-bottom 5px
  margin-top 5px
  
  .item-title
    color inherit
    text-decoration none
    font-size 24px

  .dialog__form
    overflow hidden
    max-height 0
    opacity 0
    transition all ease-in-out 0.3s

    textarea
      width 100%
      height 60px

  .is-open
    opacity 1
    max-height 500px

  .hidden
    display none

.message-list
  margin-bottom 20px

  .message
    padding 10px 0 0

  .message-sender
    color mainColor
