@import '../../variables'

.offer-item
  .hidden
    display none

.task-link
  opacity 0.8
  display inline block
  padding-left 10px
  color mainColor
  text-decoration none
  
  &:hover
    opacity 1
